<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="hu.bme.mit.androtext.validation.generatedContribution"
         point="org.eclipse.viatra2.emf.incquery.patternmatcher.builder">
      <pattern-builder
            build-class="patternbuilders.androtext.PatternBuilderForuniqueJointBodies"
            pattern-fqn="androtext.uniqueJointBodies">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.androtext.PatternBuilderForentityHasName"
            pattern-fqn="androtext.entityHasName">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.androtext.PatternBuilderForandroGameGuiHasGameComponent"
            pattern-fqn="androtext.androGameGuiHasGameComponent">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.androtext.PatternBuilderForapplicationModelElementHasName"
            pattern-fqn="androtext.applicationModelElementHasName">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.androtext.PatternBuilderForemptyMenuScene"
            pattern-fqn="androtext.emptyMenuScene">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.androtext.PatternBuilderForemptyAndroGameGui"
            pattern-fqn="androtext.emptyAndroGameGui">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.androtext.PatternBuilderForfrictionOutOfRange"
            pattern-fqn="androtext.frictionOutOfRange">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.androtext.PatternBuilderFormenuSceneHasMenuItem"
            pattern-fqn="androtext.menuSceneHasMenuItem">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.androtext.PatternBuilderForgameEntityHasName"
            pattern-fqn="androtext.gameEntityHasName">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.androtext.PatternBuilderForgameEntityNameError"
            pattern-fqn="androtext.gameEntityNameError">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.androtext.PatternBuilderForbaseGameActivityCameraWarning"
            pattern-fqn="androtext.baseGameActivityCameraWarning">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.androtext.PatternBuilderForuniqueApplicationModelElementName"
            pattern-fqn="androtext.uniqueApplicationModelElementName">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.androtext.PatternBuilderForbaseGameActivitySceneError"
            pattern-fqn="androtext.baseGameActivitySceneError">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.androtext.PatternBuilderForbaseGameActivityHasScene"
            pattern-fqn="androtext.baseGameActivityHasScene">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.androtext.PatternBuilderForbaseGameActivityHasCamera"
            pattern-fqn="androtext.baseGameActivityHasCamera">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.androtext.PatternBuilderForrestitutionOutOfRange"
            pattern-fqn="androtext.restitutionOutOfRange">
      </pattern-builder>
   </extension>

</plugin>
