<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="hu.bme.mit.androtext.validation.generatedContribution"
         point="org.eclipse.viatra2.emf.incquery.patternmatcher.builder">
      <pattern-builder
            build-class="patternbuilders.androtext.PatternBuilderForentityHasName"
            pattern-fqn="androtext.entityHasName">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.androtext.PatternBuilderForapplicationModelElementHasName"
            pattern-fqn="androtext.applicationModelElementHasName">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.androtext.PatternBuilderForuniqueApplicationModelElementName"
            pattern-fqn="androtext.uniqueApplicationModelElementName">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.androtext.PatternBuilderForapplicationMainActivityIsTabActivity"
            pattern-fqn="androtext.applicationMainActivityIsTabActivity">
      </pattern-builder>
   </extension>

</plugin>
